/* GENERAL */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#form-error{
     color: red;
}
/* NAVBAR */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;

    border-bottom: 1px solid #ccc;
}

#nav-links {
    display: flex;
    gap: 1.5rem;

    list-style: none;
}

#nav-links a {
    text-decoration: none;
    color: black;
}


/* SECTIONS */

section {
    padding: 5rem 2rem;
}


/* HERO */

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 72vh;
}


/* BOOKS */

#bookstore-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.book-container {
    display: flex;
    gap: 1rem;
}

.book {
    border: 1px solid #ccc;
    padding: 2rem;
}

.error{
    color: red;
    font-size: 18px;
}

/* FOOTER */

#footer {
    padding: 2rem;
    margin: 4px;
    border-top: 1px solid #ccc;
}
